extends template/main

block variables
  - var title = 'Достижения'
  - var pageClass = 'awards-page'

block content
  .container-fluid
    h1.section-title Достижения

    .row.awards-tabs
      .col-md-3.col-xl-2.awards-col--aside
        .awards-tabs__nav-wrapper.clearfix
          span.awards-tabs__nav-value.js-tabs-nav-value 2005 - 2008
          button.awards-tabs__nav-btn.js-tabs-nav-toggler
          .awards-tabs__nav.js-tabs-nav
            a.awards-tabs__nav-item.is-active(
              href="#",
              data-tab-name="tab-1"
            ) 2005 - 2008
            a.awards-tabs__nav-item(
              href="#",
              data-tab-name="tab-2"
            ) 2010
            a.awards-tabs__nav-item(
              href="#",
              data-tab-name="tab-3"
            ) 2011
            a.awards-tabs__nav-item(
              href="#",
              data-tab-name="tab-4"
            ) 2012
            a.awards-tabs__nav-item(
              href="#",
              data-tab-name="tab-5"
            ) 2013
            a.awards-tabs__nav-item(
              href="#",
              data-tab-name="tab-6"
            ) 2014
            a.awards-tabs__nav-item(
              href="#",
              data-tab-name="tab-7"
            ) 2015
            a.awards-tabs__nav-item(
              href="#",
              data-tab-name="tab-8"
            ) 2016
            a.awards-tabs__nav-item(
              href="#",
              data-tab-name="tab-9"
            ) 2017
            a.awards-tabs__nav-item(
              href="#",
              data-tab-name="tab-10"
            ) 2018
            a.awards-tabs__nav-item(
              href="#",
              data-tab-name="tab-11"
            ) 2019

      .col-md-9.col-xl-10.awards-col--main
        .awards-tabs__content
          .awards-tab.tab.tab-1.is-active
            include pages/awards/awards-tab-1
          .awards-tab.tab.tab-2
            include pages/awards/awards-tab-2
          .awards-tab.tab.tab-3
            include pages/awards/awards-tab-3
          .awards-tab.tab.tab-4
            include pages/awards/awards-tab-4
          .awards-tab.tab.tab-5
            include pages/awards/awards-tab-5
          .awards-tab.tab.tab-6
            include pages/awards/awards-tab-6
          .awards-tab.tab.tab-7
            include pages/awards/awards-tab-7
          .awards-tab.tab.tab-8
            include pages/awards/awards-tab-8
          .awards-tab.tab.tab-9
            include pages/awards/awards-tab-9
          .awards-tab.tab.tab-10
            include pages/awards/awards-tab-10
          .awards-tab.tab.tab-11
            include pages/awards/awards-tab-11